@model ProductInventoryFront.Models.ProductModel

@{
    ViewData["Title"] = "Agregar Nuevo Producto";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ManufacturingType" class="control-label"></label>
        <select asp-for="ManufacturingType" class="form-control">
            <option value="1">Manufacturado</option>
            <option value="0">No Manufacturado</option>
        </select>
        <span asp-validation-for="ManufacturingType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="State" class="control-label"></label>
        <select asp-for="State" class="form-control">
            <option value="1">Disponible</option>
            <option value="0">No Disponible</option>
        </select>
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>
